<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trip choise</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
            <h1>Wycieczka</h1>

            <table style="border: 3mm ridge yellow">
                <tr>
                    <th>ID</th>
                    <th>WYCIECZKA</th>
                </tr>

                <tr th:each="trip,iterationStatus : ${trips}">
                    <td th:text="${iterationStatus.count}">1</td>
                    <th>Wylot</th>>
                    <td th:text="${trip.travelFrom + ' '  + trip.dateTravelFrom}"></td>
                    <th>Ladowanie</th>>
                    <td th:text="${trip.travelTo}"></td>
                    <th>Ilość dni z data powrotu</th>>
                    <td th:text="${trip.daysNumber.toString() + ' ' + trip.dateTravelTo}"></td>
                    <th>Ilość doroslych</th>>
                    <td th:text="${trip.howManyAdultsAreTraveling}"></td>
                    <th>Ilość dzieci</th>>
                    <td th:text="${trip.howManyChildrenAreTraveling}"></td>
                    <th>Cena za bilety</th>>
                    <td th:text="${trip.priceForAdult + trip.priceForChild}"></td>

                </tr>

            </table>

        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

</body>

</html>