<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>PANEL DODAWANIA WYCIECZEK</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/addtrip}" th:object="${tripFormData}" method="post">


    <label for="startcountry">START Country:</label>
    <select autofocus class="form-control" id="startcountry" th:field="*{startCountry}">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:each="i : ${countries}" th:value="${i.getName()}" th:text="${i}"></option>
    </select>

<br>
    <label for="destinationcountry">Destination Country:</label>
    <select autofocus class="form-control" id="destinationcountry" th:field="*{destinationCountry}">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:each="i : ${countries}" th:value="${i.getName()}" th:text="${i}"></option>
    </select>

<br>
    <label for="travelfrom">Travel date FROM (YYYY-MM-DD):</label>
        <input id="travelfrom" type="text" th:field="*{travelFrom}" autofocus class="form-control"/>

<br>
    <label for="travelto">Travel Date TO (YYYY-MM-DD):</label>
        <input id="travelto" type="text" th:field="*{travelTo}" autofocus class="form-control"/>

<br>
    <label for="triptype">Trip Type:</label>
    <select autofocus class="form-control" id="triptype">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:each="trip : ${triptype}" th:value="${trip}" th:text="${trip}"></option>

    </select>
<br>
    <label for="priceforadult">Price for adult in PLN:</label>
    <input id="priceforadult" type="text" th:field="*{priceForAdult}" autofocus class="form-control"/>

<br>
    <label for="priceforchildren"> Price for children in PLN:</label>
    <input id="priceforchildren" type="text" th:field="*{priceForChild}" autofocus class="form-control"/>


<br>
    <label for="ispromoted">Is trip promoted? </label>
    <input id="ispromoted" type="checkbox" th:field="*{isPromoted}" autofocus class="form-control"/>

<br>
    <label for="childrennumber">How many children:</label>
    <select autofocus class="form-control" id="childrennumber">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:value="'1'" th:text="1"></option>
        <option th:value="'2'" th:text="2"></option>
        <option th:value="'3'" th:text="3"></option>
        <option th:value="'4'" th:text="4"></option>

    </select>
<br>
    <label for="adultsnumber">How many adults:</label>
    <select autofocus class="form-control" id="adultsnumber">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:value="'1'" th:text="1"></option>
        <option th:value="'2'" th:text="2"></option>
        <option th:value="'3'" th:text="3"></option>
        <option th:value="'4'" th:text="4"></option>
        <option th:value="'5'" th:text="5"></option>
        <option th:value="'6'" th:text="6"></option>

    </select>
<br>

    <button class="btn btn-lg btn-primary btn-block" type="submit">ADD TRIP</button>

</form>


</body>
</html>